@media only screen and (min-width: 768px) and (max-width: 959px){
	/* Equipe */
	.equipe-imagem{
		padding-left: 40px;
	}
	/* Contato */
	.form{
    padding-right: 60px;
  }

}

/* Estilos Smartphones */
@media only screen and (max-width: 767px){
	.header{
		position: relative;
		padding-bottom: 0;
	}

	.header img{
		margin: 0 auto 20px auto;
	}

	.menu-nav{
		text-align: center;
	}

	.menu-nav ul li{
		margin: 5px;
	}

	.menu-nav ul li a{
		border: 4px solid #165eaa;
		width: 136px;
		display: block;
		float: left;

	}

	/* Introdução */
	.introducao{
		margin-top: 0;
		padding-top: 200px;
		background: url("../img/bg-mobile.jpg") no-repeat center;
  	background-size: cover;
	}

	.introducao h1{
    font-size: 30px;
    line-height: 42px;
  }
  
  .introducao h2{
		font-size: 25px;
	}

	/* Sobre */
	.sobre-texto p{
		font-size: 14px;
		line-height: 20px;
		padding-right: 0;
	}
	
	/* Equipe */
	.equipe-imagem{
		padding-left: 0;
	}

  /* Contato */
  .form{
    padding-right: 0px;
    margin-bottom: 40px;
  }
}
